.pan {
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
	display: none;
	margin-left: 117px;
	color:black;
}
.pan0 {
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
	display: none;
	margin-left: 401px;
	color:black;
}
.pan1 {
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
	display: none;
	margin-left: 85px;
	color:black;
}
.pan2 {
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
	display: none;
	margin-left:356px;
	color:black;
}
.pan3 {
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
	display: none;
	margin-left:84px;
	color:black;
}
.pan31 {
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
	display: none;
	margin-left:318px;
	color:black;
}
.pan4 {
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
	display: none;
	margin-left:19px;
	color:black;
}
.pan41 {
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
	display: none;
	margin-left:263px;
	color:black;
}
.pan5 {
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
	display: none;
	margin-left:19px;
	color:black;
}
.pan51 {
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
	display: none;
	margin-left:202px;
	color:black;
}
.pan6 {
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
	display: none;
	margin-left:-11px;
	color:black;
}
.pan61 {
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
	display: none;
	margin-left:141px;
	color:black;
}
.pan7 {
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
	display: none;
	margin-left:-11px;
	color:black;
}
.pan71 {
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
	display: none;
	margin-left:187px;
	color:black;
}
.pan8 {
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
	display: none;
	margin-left:-11px;
	color:black;
}
.pan81 {
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
	display: none;
	margin-left:106px;
	color:black;
}
.p1 {
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
	display: none;
	margin-left:-72px;
	color:black;
}
.p11 {
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
	display: none;
	margin-left:127px;
	color:black;
}.p12 {
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
	display: none;
	margin-left:234px;
	color:black;
}
.p13 {
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
	display: none;
	margin-left:362px;
	color:black;
}
.p14 {
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
	display: none;
	margin-left:491px;
	color:black;
}
.p2 {
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
	display: none;
	margin-left:-72px;
	color:black;
}
.p21 {
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
	display: none;
	margin-left:127px;
	color:black;
}.p22 {
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
	display: none;
	margin-left:234px;
	color:black;
}
.p23 {
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
	display: none;
	margin-left:362px;
	color:black;
}
.p24 {
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
	display: none;
	margin-left:491px;
	color:black;
}
.p3 {
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
	display: none;
	margin-left:-72px;
	color:black;
}
.p31 {
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
	display: none;
	margin-left:127px;
	color:black;
}.p32 {
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
	display: none;
	margin-left:234px;
	color:black;
}
.p33 {
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
	display: none;
	margin-left:362px;
	color:black;
}
.p34 {
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
	display: none;
	margin-left:491px;
	color:black;
}
.p4 {
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
	display: none;
	margin-left:-72px;
	color:black;
}
.p41 {
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
	display: none;
	margin-left:127px;
	color:black;
}.p42 {
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
	display: none;
	margin-left:234px;
	color:black;
}
.p43 {
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
	display: none;
	margin-left:362px;
	color:black;
}
.p5 {
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
	display: none;
	margin-left:-72px;
	color:black;
}
.p51 {
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
	display: none;
	margin-left:127px;
	color:black;
}.p52 {
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
	display: none;
	margin-left:204px;
	color:black;
}
.p61 {
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
	display: none;
	margin-left:0px;
	color:black;
}
.p62 {
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
	display: none;
	margin-left:100px;
	color:black;
}.p63 {
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
	display: none;
	margin-left:234px;
	color:black;
}
.p7 {
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
	display: none;
	margin-left:-72px;
	color:black;
}
.p71 {
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
	display: none;
	margin-left:98px;
	color:black;
}.p72 {
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
	display: none;
	margin-left:244px;
	color:black;
}
.p73 {
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
	display: none;
	margin-left:339px;
	color:black;
}